@using NewsEdge.Utilities.Convertor;
@model IEnumerable<News>

<div class="col-lg-8 col-md-12">
    <div class="ne-isotope">
        <div class="topic-border color-scampi mb-30">
            <div class="topic-box-lg color-scampi">خبرهای بیشتر</div>
            <div class="more-info-link">
                <a asp-controller="Archive" asp-action="Index">
                    بیشتر
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="featuredContainer">
            <div class="row politics">
                @foreach(News news in Model)
                {
                    <div class="col-xl-12 col-lg-6 col-md-6 col-sm-12">
                        <div class="media media-none--lg mb-30">
                            <div class="position-relative width-40">
                                <a asp-controller="News" asp-action="SingleNews" asp-route-id="@news.NewsId" class="img-opacity-hover">
                                    <img src="/Images/News/@news.ImagePath" alt="news" class="img-fluid" style="height:190px">
                                </a>
                            </div>
                            <div class="media-body p-mb-none-child media-margin30">
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>توسط</span>
                                            <a href="single-news-1.html">@news.NewsEdgeUser.RealName</a>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>@news.CreateDate.ToShamsi()
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-semibold-dark size-lg mb-15">
                                    <a asp-controller="News" asp-action="SingleNews" asp-route-id="@news.NewsId">@news.Title </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>